html, body {
  overflow: hidden;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#intro {
  margin: -2vw;
  z-index: 100;
  position: absolute;
  width: 102vw;
  height: 100vh;
  background-color: #000;
  opacity: 90%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 40vh 0;
}

#info {
  width: 100%;
  text-align: center;
  top: 15px;
  color: #666;
  font-size: 0.8em;
}

p {
  display: inline-block;
}

.button {
  opacity: 40%;
  width: 5vh;
  height: 5vh;
  background: #fff;
  border: 1px solid black;
  padding: 2vh;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5vh;
  cursor: pointer;
}


.icon {
  width: 5vh;
  height: 5vh;
}
