@font-face {
  font-family: cambonItalic;
  src: url(../font/Cambon-Italic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: cambonRegular;
  src: url(../font/Cambon-Regular.otf);
  font-weight: bold;
  font-style: italic;
}

html, body {
  overflow: hidden;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

path.attivo {
  fill: black !important;
}

.dark {
  background-color: #222;
}
#intro {
  font-family: CambonItalic;
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 40vh 0;
  text-decoration: underline;
}

#info {
  width: 100%;
  text-align: center;
  top: 15px;
  color: #666;
  font-size: 0.8em;
  font-family: CambonRegular;
}

p {
  display: inline-block;
}

.button {
  opacity: 40%;
  width: 5vh;
  height: 5vh;
  background: #fff;
  border: 1px solid black;
  padding: 2vh;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5vh;
  cursor: pointer;
}


.icon {
  width: 5vh;
  height: 5vh;
}
